{% extends 'base.html' %}
{% block title %}
Services
{% endblock title %}
{% block body %}

<section id="price-section">
    <div class="container">
        <div class="row justify-content-center gapsectionsecond">
            <div class="col-lg-7 text-center">
                <div class="title-big pb-3 mb-3">
                    <h3>SERVICE PRICES</h3>
                </div>
                <p class="description-p text-muted pe-0 pe-lg-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere sequi, quia, est sed dicta aliquid quidem facilis culpa iure perferendis? Dolor ad quia deserunt.
                </p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4 pb-5 pb-lg-0">
                <div class="wrap-price">
                    <div class="price-innerdetail text-center" color="white">
                        <h5>MINIMUM BASIC SERVICE</h5>
                        <p class="prices">1500</p>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> One Month MemberShip </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pb-5 pb-lg-0">
                <div class="wrap-price center-wrap">
                    <div class="price-innerdetail text-center">
                        <h5>PRO SERVICE</h5>
                        <p class="prices">2800</p>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Two Month Membership </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pb-5 pb-lg-0">
                <div class="wrap-price">
                    <div class="price-innerdetail text-center">
                        <h5>STANDART SERVICE</h5>
                        <p class="prices">8000</p>
                        <div class="detail-pricing">
                            <span class="float-left"> <i class="bi bi-check2-circle"></i> Six Month Membership </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="">
    body{margin-top:20px;}
  .price-innerdetail h5 {
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 15px;
    }
    
    .price-innerdetail p {
        font-size: 50px;
    }
    
    .detail-pricing {
        border-bottom: 1px solid;
        padding: 30px 0 30px 0;
    }
    
    .detail-pricing .float-left {
        padding: 0 0 0 40px;
    }
    
    .detail-pricing .float-left i {
        position: absolute;
        left: 0;
        font-size: 20px;
    }
    
    .detail-pricing span {
        display: inline-block;
        position: relative;
        font-weight: 400;
    }
    
    .wrap-price {
        background: rgba(32, 33, 36, .1);
        padding: 50px 20px 50px;
        border-radius: 10px;
    }
    
    .center-wrap {
        background: #070707;
        color: #fff;
    }
</script>
{% endblock body %}